body{
  text-align: center;
}
.board ul{
  list-style: none;
  background: #27ae60;
  width:300px;
  border-radius: 5px;
  li{
    display: inline-block;
    margin: 10px 5px;
    background: #2ecc71;
    color:#fff;
    font-weight: bold;
  }
  padding:0;
}
.square{
  padding:35px;
}

.board{
  width:100%;
  display: flex;
  justify-content: center;
}

button{
  margin:5px 0;
}